<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @customer.name %>さんの日記帳一覧</h2>


        <table class="customer_info customer_form" border="1">
          <tr>
            <td colspan="2"><%= image_tag @customer.get_profile_image(100,100) %></td>
          </tr>
        </table>

<%= link_to "#{@customer.name}さん日記へ",customer_customer_diaries_path(@customer)%>

       <% if @customer_diary_booKs.present? %>
       <p>日記一覧</p>
        <% @customer_diary_booKs.each do |diary_book| %>
          <div class="card col-md-3">
            <p><%= link_to diary_book.title,customer_customer_diaries_path(@customer,diary_book: diary_book.id) %></p>
          </div>
        <% end %>

  <% else %>
<h3>日記帳がありません。</h3>
<% end %>

</div>

</div>