<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%= @customer.name %>さんの日記帳一覧</h2>


        <table class="customer_info customer_form" border="1">
          <tr>
            <td colspan="2"><%= image_tag @customer.get_profile_image(100,100) %></td>
          </tr>
        </table>


       <% if @customer_diary_booKs.present? %>
        <% @customer_diary_booKs.each do |diary_book| %>
          <div class="card col-md-3">
            <p><%= diary_book.title %></p>
          </div>
        <% end %>

  <% else %>
<h3>日記帳がありません。</h3>
<% end %>

</div>

</div>