<h1>Public::CustomerDiaries#show</h1>
<p>Find me in app/views/public/customer_diaries/show.html.erb</p>


<div class='container'>

<div class="content">


    <h2 class="section-ttl"><%#= @customer.name %>さんの日記一覧</h2>











</div>

</div>