// Place all the styles related to the public/diarys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.simple-calendar {
 .day {}
 .today {background: #F3FFD8}
 .wday-0 {background: 	#FFD5EC;}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {background: #FFDBC9;}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {
   background: #CBFFD3;
 }
}

.table-striped tr td:hover {
  background-color: #F0FFF0;
}

.table-striped thead tr th{
 background: #CBFFD3;
 border-color: #000;
 border-style: solid;
}

.table-striped tbody tr td{
 border-color: #000;
 border-style: solid;
}


table tr {
 border-style: solid;
 border-color: #000;
}