/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

/*
body {
  background-image: url("Photoelly014_TP_V.jpg");
   background-size:  cover;
}
*/


main {
  background-image: url("Photoelly014_TP_V.jpg");
   background-size:  cover;
}

table {
table-layout: fixed;
word-break: break-all;
word-wrap: break-all;
}
a {
  color: #000000;
  text-decoration: none;
}



.header_list{
  width: 100%;
    background-color: #98fb98;
}
/*body, html { font-size: 100%; }*/
/*@media screen and (min-width: 576px) and (max-width: 768px) { body, html { font-size: 50%; } }*/
/*@media screen and (min-width: 769px) and (max-width: 992px) { body, html { font-size: 50%; } }*/
/*@media screen and (min-width: 993px) and (max-width: 1200px) { body, html { font-size: 100%; } }*/
/*@media screen and (min-width: 1201px) { body, html { font-size: 100%; } }*/

#error_explanation {
  margin : 10px 0;
  padding: 20px 10px;
  background-color:#FFF;
  border : 10px solid red;
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}
header {
  background: #d5ffd5;
  }

.header_container{
     display: flex;
}

.navbar-brand{
  display: inline-block;
}

.customer_name{
  margin-left: auto;
  /*text-align:left;*/
  /*margin-left: 10%;*/
  display: flex;
  align-items: center;
}

.customer_search{

}

.navbar-nav ul{
  display: flex;
  justify-content: flex-start;
}

.navbar-nav li{
  background: #98fb98;
	padding: 10px 20px 10px;
	align-items: center;
}

.navbar-nav li:hover{
  background: #aaffd5;
}

.navbar-nav a{
	text-decoration: none;
	color: #000;
}

.navbar-nav a:hover{
  color: #000;
	text-decoration: none;
}

.nav-item{
 border-right : 1px solid #fff;
 border-left : 1px solid #fff;
}

.flash{
  background-color:#FFF;
  border : 10px solid #ffffaa;
}

.content{
  text-align: -webkit-center;
 /*text-align: center;*/
}

.my_content{
  background-color:#FFF;
  padding:30px 0;
  border : 10px solid #9dff76;
   position: relative;
 /*text-align: center;*/
  /*ユーザのみ*/
}

.admin_content{
  background-color:#FFF;
  padding:30px 0;
  border : 10px solid #00ff80;
  position: relative;
 /*text-align: center;*/
  /*ユーザのみ*/
}
.customers{
  background-color:#FFF;
  padding:30px 0;
  border : 10px solid #5555ff;
  position: relative;
 /*text-align: center;*/
  /*ユーザのみ*/
}

.customer_card{
  width: 300px;
  max-width: 400px;
  border : 3px solid #0080ff;
  color:#000;
  /*position: absolute;*/
  /*position: relative;*/
  top: 0;
  left: 0;
  background-color: #d5eaff;
  position: absolute;
  z-index:20;
}

.customer_card_hover :hover {
 color:#99ff99;
 text-decoration-color:#99ff99;
 background-color:#fcfced;
 text-decoration: none;
}


.customer_card_block{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #d5eaff;
    background-clip: border-box;
    border : 3px solid #0080ff;
    border-radius: 0.25rem;
    color:#000;
}
.customer_card_block:hover{
 text-decoration: none;
}

.admin_card{
  z-index: 20;
  border : 3px solid #00d56a;
  color:#000;
  /*position: absolute;*/
  /*position: relative;*/
  top: 0;
  left: 0;
  background-color: #eafff4;
  position: absolute;
}

.admin_card:hover {
 color:#99ff99;
 text-decoration-color:#00ff80;
 background-color:#fcfced;
}

.card.d-block.index{
    width: 95%;
      /*ユーザ編集のみ*/
}

.card.d-block.tag{
    width: 100%;
      /*ユーザ編集のみ*/
}
.card.d-block.calendar{
    width: 100%;
      /*ユーザ編集のみ*/
}

.card.d-block.edit{
    width: 85%;
      /*ユーザ編集のみ*/
}

.card_border  {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.diary_book_name{
     background-color:#fcfced;
     border: solid 1px black;
}
.card_hover  {
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
}

.card_hover :hover {
 color:#99ff99;
 text-decoration-color:#99ff99;
 background-color:#fcfced;
 text-decoration: none;
}

.card.d-block{
  width: 60%;
  border : 1px solid #000;
   /*box-shadow: 0 0 0 1px #000;*/
  /*border : solid 1px #333 ;*/
  /*box-shadow: 0 0 0 1px #000, 0 0 0 19px #9dff76, 0 0 0 20px #000;*/
}


.card_text {
  border-bottom: solid 2px black;
  text-align:left;
  width: 90%;
  /*文字直接ではない*/
}

.card_text_center {
  border-bottom: solid 2px black;
  text-align:center;
  /*文字直接ではない*/
}


.card_text_boder_left_80{
  width: 80%;
  border-bottom: solid 2px black;
  text-align:left;
}
.card_text_boder_center_80{
  width: 80%;
  border-bottom: solid 2px black;
  text-align:center;
}
.text_position_right_cetnter{
 text-align:right;
}

.character_underline span{
  border-bottom: solid 2px black;
  line-height: 2;
    /*文字直接*/
}

.p_tag:hover{
 background-color:#fcfced;
}
/*
.card_text_p{
  border-bottom: solid 2px black;
  text-align:right;
}
*/


.publish{
  color:#000;
  background-color:#80ff80;
  padding:1px 3px;
  border-radius: 2px;
  box-shadow : 0px 1px 10px 3px #99ff99 ;
      /*公開*/
}

.private{
  color:#FFF;
  background-color:#949494;
  padding:1px 2px;
  border-radius: 2px;
  box-shadow : 0px 1px 10px 3px #aaaaaa ;
        /*非公開*/
}

table a{
  color:#000;
}


table a:hover {
 color:#99ff99;
}


.diary_book {
  background-image: url("219741.jpg");
  background-size: 120% 120%;
  /*background-size: 100% 100%;*/
  background-repeat: no-repeat;
  background-color:#FFF;
  border : 10px solid #9dff76;
  background-position: center;
}

.diary_date {
  background-image: url("773762.jpg");
  background-size: 120% 120%;
  /*background-size: 100% 100%;*/
  background-repeat: no-repeat;
  background-color:#FFF;
  border : 10px solid #9dff76;
  background-position: center;
}

.loose-leaf{
  background: #ffffea;
  border-left: 20px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 0 5 #f8f0d7;
  padding: 1em;
}

.book{
  background: #ffffea;
  border-left: 30px solid #00d56a;
  padding: 1em;
  box-shadow: 5px 5px 1px #efefef, inset 0 0 0 5px #55ffaa;
}
.diary_date_image {
  background-image: url("773762.jpg");
  background-size: 125% 125%;
  /*background-size: 100% 100%;*/
  background-repeat: no-repeat;
  background-position: center;
}

.arbitrary_data {
background-color:rgba(255, 255, 43,0.1);
border-radius: 1px;
}

.required_frame{
background-color:rgba(234, 255, 213,0.7);
border-radius: 1px;
}

.required_frame_data{
 background-color: #eaffd5;
 box-shadow: #eaffd5 0 0 10px 10px;
 margin:10px;
}

.sort_color{
  color:#000;
  background-color:#80ff80;
  padding:1px 3px;
  border-radius: 3px;
  border-color: #80ff80;
  border : 2px solid #d5ffd5;
}

.sort_color:hover{
  color:#000;
  background-color: #d5ffd5;
  padding:1px 3px;
  border-radius: 3px;
  border-color: #d5ffd5;
  border : 2px solid #80ff80;
}

.search_color{
  color:#000;
  background-color:#ffbf80;
  padding:1px 3px;
  border-radius: 3px;
  border-color: #80ff80;
  border : 2px solid #ff952b;
}

.search_color:hover{
  color:#000;
  background-color: #ff952b;
  padding:1px 3px;
  border-radius: 3px;
  border-color: #ff952b;
  border : 2px solid #ffbf80;
}

.customer_card_block d-block index{
  text-align: center;
  background-color:#ffead5;
  display: block;
  border-radius: 3px;
}

.calendar_day{
  text-align: center;
  background-color: #ffead5;
  display: block;
  border-radius: 3px;
}

.calendar_day:hover{
  text-align: center;
  background-color: #ffffd5;
  display: block;
  border-radius: 3px;
}


.count{
  display: inline-block;
}
.count_position_right{
  padding: 0 0 0 20px ;
  display: inline-block;
}
.form_middle{
  vertical-align: middle;
}

footer{
  background-color:#f5f5f5;
}

a:hover {
 color:#0000ff;
}

footer{
  font-family:"HGP行書体";
}

.pagination {
  justify-content: center;
  padding:10px;
}

.pagination span {
  padding:10px;
}

 .image_size:hover{
   width: 100%;
   border : 3px solid #99ff99;
 }

 textarea{
  width: 100%;
  border : 3px solid #99ff99;
 }

  input{
  border : 3px solid #99ff99;
  background-color:#FFF;
 }

.text_position_cetnter_left{
 text-align:center;
}

.text_position_left_cetnter{
  text-align:left;
}

.my_page_edit{
  width: 100%;
 }

.diary_book_form_new{
    width: 80%;
}

 .no_margins{
   margin: 0;
 }

.side_scroll{
  white-space: nowrap;
  overflow-x: scroll;
  border: solid 1px #696969;
}


.status_admin {
  width: 90%;
  padding: 0.5em 1em;
  color: #232323;
  background: #ffaaaa;
  border-left: solid 10px #ff0080;
}
.status_admin p {
  margin: 0;
  padding: 0;
  font-weight: bold;

}

.tags {
    z-index: 20;
    width: 80%;
    padding: 1em 1em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left ;
}
.tags p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.comment {
    width: 90%;
    margin-right: auto;
    color: #232323;
    background: #eaf4ff;
    border-left: solid 10px #0080ff;
    text-align: left ;

}
.comment p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.comment_date{
    display:inline-block;
    text-align: right ;
}
.card-header_design{
    margin-right: auto;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    text-align: center ;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

.card-header_design2 {
 padding: 0.75rem 1.25rem;
 margin-bottom: 0;
 background-color:  #eaffd5;
 border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 position: relative;
 /*width: 90%; /* ボックス幅 */
 box-shadow: 3px 3px 1px #aaff55; /* 影の色 */
}
.card-header_design2::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #C0C0C0; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #ccc; /*クリップ影*/
 transform: rotate(10deg);
 z-index: 1;
}

.card-header_design2::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px;
 right: 20px;
 border: solid 5px #eaffd5; /*背景色と同じ色に！*/
 z-index: 2;
}

.card_link_font{
  color: #000000;
  text-decoration: none;
}

.card_link_font:hover{
  text-decoration: none;
}



@media screen and (min-width: 769px) and (max-width: 992px) {
.nav-item{
 border-top : 1px solid #fff;
 border-bottom : 1px solid #fff;
}
.text_position_right_cetnter{
 text-align: center;
}

.text_position_cetnter_left{
 text-align: left;
}

.text_position_left_cetnter{
  text-align: center;
}
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
main {
   font-size: 0.5rem;
 }
header {
   font-size: 0.5rem;
 }
.section-ttl {
   font-size: 1rem;
 }

 input.btn_size {
   font-size: 0.5rem;
   text-align: center;
   padding: 0.1rem 0.3rem;
 }

 .link_size{
   font-size: 0.5rem;
   text-align:center;
 }

td{
   font-size: 0.1rem;
 }

 .image_size{
   width: 100%;
 }

 .image_size:hover{
   width: 100%;
 }
.card-title{
   font-size: 1rem;
 }

.card.d-block.edit{
    width: 90%;
      /*ユーザ編集のみ*/
}

.admin_card{
  z-index: 20;
  border : 3px solid #00d56a;
  color:#000;
  /*position: absolute;*/
  /*position: relative;*/
  padding:10px;
  top: 0;
  left: 0;
  background-color: #eafff4;
  position: absolute;
}

.admin_card:hover {
 color:#99ff99;
 text-decoration-color:#00ff80;
 background-color:#fcfced;
}
.nav-item{
 border-top : 1px solid #fff;
 border-bottom : 1px solid #fff;
}
.text_position_right_cetnter{
 text-align:center;
}

.form_name_position{
 text-align:left;
}
.text_position_cetnter_left{
 text-align: left;
}

.text_position_left_cetnter{
  text-align: center;
}
}

// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
main {
   font-size: 0.5rem;
 }
header {
   font-size: 0.5rem;
 }
.section-ttl {
   font-size: 1rem;
 }
 input.btn_size {
   font-size: 0.5rem;
   text-align:center;
 }
  .link_size{
   font-size: 0.5rem;
   text-align:center;
 }

td{
   font-size: 10%;
 }
 .image_size{
   width: 100%;
 }

.card-title{
   font-size: 1rem;
 }

.card.d-block.edit{
    width: 95%;
      /*ユーザ編集のみ*/
}

textarea{
  row:10;
}

.admin_card{
  z-index: 20;
  border : 3px solid #00d56a;
  color:#000;
  /*position: absolute;*/
  /*position: relative;*/
  top: 0;
  left: 0;
  background-color: #eafff4;
  position: absolute;
}

.admin_card:hover {
 color:#99ff99;
 text-decoration-color:#00ff80;
 background-color:#fcfced;
}

.nav-item{
 border-top : 1px solid #fff;
 border-bottom : 1px solid #fff;
}

.text_position_right_cetnter{
 text-align:center;
}

.form_name_position{
 text-align:left;
}
.text_position_cetnter_left{
 text-align: left;
}

.text_position_left_cetnter{
  text-align: center;
}
}

// 極小デバイスここまで