      <% @customers.each do |customer|%>
        <div class="card d-block index rounded-0 my-1" >
          <%= link_to customer_path(customer),class:"card_hover" do %>
            <div class="card-body">
              <div class="row align-items-center character_underline">
                <p class="col-lg-4"><%= image_tag customer.get_profile_image(100,100),class:"p-2" %></p>
                <p class="col-lg-7 text_position_left_cetnter"><span class="px-2" style="word-break: break-all;"><%= customer.name %>さん</span></p>
              </div>
             </div>
          <% end %>
         </div>
      <% end %>